.vscode/
bin/
debug/
dep/**
obj/
src/glyphs.c
src/glyphs.h
DS_Store/
**/.DS_Store
**.swp
Save*
build/

tags
tests/src/dummy.test.js
tests/src/dummy.js

build/
tests/.yarn

compile_flags.txt
tests/test-report.html